extends ../layouts/common

block content
  table.table
    tr
      th Image
      th Name
      th Amount
      th price
    each product in products
      tr
        td
          img(src=product.image, alt="",width="32")
        td=product.name
        td=amounts[product.id]
        td=product.price